<h1>Services Grid</h1>

<p>List all Ginger services connected to Ginger sevices grid</p>

<p *ngIf="!forecasts"><em>Loading...</em></p>

<table class='table' *ngIf="forecasts">
  <thead>
    <tr>
      <th>Name</th>
      <th>Service ID</th>
      <th>Session ID</th>
      <th>Host</th>
      <th>IP</th>
      <th>OS</th>
      <th>Status</th>
      <th>Actions count</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of forecasts">
      <td>{{ forecast.name }}</td>
      <td>{{ forecast.serviceId }}</td>
      <td>{{ forecast.sessionId }}</td>
      <td>{{ forecast.ip }}</td>
      <td>{{ forecast.os }}</td>
      <td>{{ forecast.status }}</td>
      <td>{{ forecast.actionCount }}</td>      
    </tr>
  </tbody>
</table>

<p>aaa</p>

<div>{{ report }}</div>
