<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DeepEqual" version="1.4.0.0" targetFramework="net472" />
  <package id="GingerTestHelper" version="2.0.2" targetFramework="net472" />
  <package id="MSTest.TestAdapter" version="1.4.0" targetFramework="net472" />
  <package id="MSTest.TestFramework" version="1.4.0" targetFramework="net472" />
  <package id="TestHelper" version="0.0.2" targetFramework="net472" />
</packages>