# .NET

jobs:


- job: Windows
  pool:
   vmImage: 'vs2017-win2016'
  variables:
    solution: '**/*.sln'
    buildPlatform: 'Any CPU' 
    buildConfiguration: 'Release'
    solutionDirectory:  'Ginger-Automation/Ginger'
  steps:

  - task: DotNetCoreInstaller@0
    inputs:
      packageType: 'sdk' # Options: runtime, sdk
      version: '2.2.100' 
      displayName: Install .Net Core 2.2

  - task: NuGetToolInstaller@0  
    displayName: NuGet Tool Installer

  - task: NuGetCommand@2
    inputs:
      command: restore  
      restoreSolution: '$(solution)'  
     # restoreSolution: 'D:\a\1\s\Ginger\GingerCoreCommonTest\GingerCoreCommonTest.csproj'  
      # configuration: '$(BuildConfiguration)'
    displayName: Restore Ginger Solution Nuget Packages
  
  - task: VSBuild@1
    inputs:
      solution: 'D:\a\1\s\Ginger\GingerCoreCommonTest\GingerCoreCommonTest.csproj'          
      platform: 'x86'
      clean: true
      restoreNugetPackages: true
      msbuildArchitecture: 'x86' # Optional. Options: x86, x64
    displayName: Build GingerPluginCoreTest Project


  # - script: @"C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\15.0\Bin\msbuild.exe" '$(solution)'
  # - script: MSBuild.exe "D:\a\1\s\Ginger\Ginger.sln"
  #  workingDirectory: C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\15.0\Bin\
  #  displayName: Yaron Build 
  - task: VSBuild@1
    inputs:
      solution:'D:\a\1\s\Ginger\Ginger.sln'          
      # solution: '$(solution)'
      # solution: 'D:\a\1\s\Ginger\Ginger\Ginger.csproj'                
      platform: 'Any CPU'
    displayName: Build Ginger Solution
  
  # platform: '$(buildPlatform)'
  #    configuration: '$(buildConfiguration)'
  # - script: echo BEFORE Unit test
  - script: dotnet test "D:\a\1\s\Ginger\GingerCoreCommonTest\bin\$(buildConfiguration)\netcoreapp2.1\GingerCoreCommonTest.dll" /TestCaseFilter:TestCategory=Level1 /Logger:trx
    displayName: Test GingerCoreCommonTest Level 1
  # - script: echo AFTER Unit test




  - task: PublishTestResults@2
    condition: succeededOrFailed()
    inputs:
      testRunner: VSTest
      testResultsFiles: '**/*.trx'

  - task: PublishBuildArtifacts@1

