# .NET

jobs:
- job: Linux
  pool:
    vmImage: 'Ubuntu 16.04'
  variables:  
    buildConfiguration: 'Release'
    solutionDIrectory:  'Ginger-Automation/Ginger'
  steps:
  - script: dotnet build Ginger/GingerCoreNETUnitTest/GingerCoreNETUnitTest.csproj 
  - script: dotnet build Ginger/GingerCoreCommonTest/GingerCoreCommonTest.csproj
  - script: dotnet test  Ginger/Ginger.sln --configuration $(buildConfiguration) --logger trx
  - task: PublishTestResults@2
    condition: succeededOrFailed()
    inputs:
      testRunner: VSTest
      testResultsFiles: '**/*.trx'

  - task: PublishBuildArtifacts@1



- job: Windows
  pool:
    vmImage: 'VS2017-Win2016'
  variables:  
    solution: '**/*.sln'
    buildPlatform: 'Any CPU'
    buildConfiguration: 'Release'

  steps:
  - task: NuGetToolInstaller@0
  - task: NuGetCommand@2
    inputs:
      restoreSolution: '$(solution)'

  - task: VSBuild@1
    inputs:
      solution: '$(solution)'
      platform: '$(buildPlatform)'
      configuration: '$(buildConfiguration)'

  - task: VSTest@2
    inputs:
      platform: '$(buildPlatform)'
      configuration: '$(buildConfiguration)'
      pathtoCustomTestAdapters:  'Ginger\packages\MSTest.TestAdapter.1.4.0\build\_common'
      testResultsFiles: '**/*.trx'
