<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Example configuration entries to be added to the application consuming this client-->
  <!-- Begin example section -->
  <configSections>
    <section name="ALMConfigurationSection" type="ALMRestClient.Configuration.ALMConfigurationSection, ALMRestClient, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <ALMConfigurationSection>
    <ALMConfigurations>
      <ALMConfiguration majorVersion="12" minorVersion="10">
        <!-- Settings -->
        <setting name="IsSessionRequired" value="true"/>
        <setting name="IsLogoutRequired" value="true"/>
        <setting name="SessionCookieName" value="XSRF-TOKEN" type="Setting"/>
        <setting name="TokenCookieName" value="LWSSO_COOKIE_KEY" type="Setting"/>
        <!-- Address -->
        <setting name="Login" value="/qcbin/authentication-point/authenticate" type="Address"/>
        <setting name="Logout" value="/qcbin/authentication-point/logout" type="Address"/>
        <setting name="LockEntity" value="/qcbin/rest/domains/{domain}/projects/{project}/{Entity Type}/{Entity ID}/lock" type="Address"/>
        <setting name="EntityCollection" value="/qcbin/rest/domains/{domain}/projects/{project}/{Entity Type}s" type="Address"/>
        <setting name="Entity" value="/qcbin/rest/domains/{domain}/projects/{project}/{Entity Type}/{Entity ID}" type="Address"/>
        <setting name="IsAuthenticated" value="/qcbin/rest/is-authenticated" type="Address"/>
        <setting name="SessionAddress" value="/qcbin/rest/site-session" type="Address"/>
        <setting name="Fields" value="/qcbin/rest/domains/{domain}/projects/{project}/customization/entities/{Entity Type}/fields" type="Address"/>
        <!--<setting name="Fields" value="/qcbin/rest/domains/{domain}/projects/{project}/customization/entities/{Entity Type}/fields" type="Address"/>
        qcbin/rest/domains/DELiVERY/projects/DISH/customization/used-lists?id=217-->

      </ALMConfiguration>
    </ALMConfigurations>
  </ALMConfigurationSection>
  <!-- End example section -->
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
</configuration>
