$fontFamily:"Source Sans Pro",Arial,sans-serif;
$fontSize:14px;
$borderRadius:0;
$dividerColor:#d6d7d9;
$textColor:#212121;
$textSecondaryColor:#797979;
$transitionDuration:.2s;
$mobileBreakPoint:1024px;