<h1>Business Flows</h1>

<p>List all Run Sets of the solution</p>

<p *ngIf="!forecasts"><em>Loading...</em></p>

<table class='table' *ngIf="forecasts">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>      
      <th>Run</th>      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of forecasts">
      <td>{{ forecast.name }}</td>
      <td>{{ forecast.description }}</td>
      <td>{{ forecast.fileName }}</td>
      <td>{{ forecast.status }}</td>
      <td>{{ forecast.elapsed }}</td>
      <td><button (click)="run(forecast)">Run</button></td>      
      <td></td>
    </tr>
  </tbody>
</table>

<p>aaa</p>

<div>{{ report }}</div>
