<?xml version="1.0" encoding="utf-8"?>
<configuration>
<packageSources>
    <clear />
    <add key="api.nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="xpf" value="https://xpf-nuget-feed.avaloniaui.net/v3/index.json" />
    <add key="avalonia-nightly" value="https://nuget-feed-all.avaloniaui.net/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <xpf>
      <add key="Username" value="license" />
      <add key="ClearTextPassword" value="AQAAAF4AAAAfiwgAAAAAAAADY2RgYPgPBTyPGmYk5qbkJxcDGfuEvUUYoIAZiFlzMvNKK1hzE5Pzi9nLM/NS8suLQeLMFQVpPECsm1iQqVuckZkL5gAVpOUX5RYDAJQKrRdfAAAAAAEAAGiM7PN7r9ITis2+oxLyFUodLORFZAGvRpIuymUoWbunKvukAuhDVGXenCfkZiX4nFE8MTiERKkeecimbl5IaFzgY9wg2Zo0zBklYSqXSQF6sa7EoqMRzuJWS7LO9P8ya6CpuQNnuNJf2zKeM5YDIPZU25kMYU6LNGfS31napMPPS76oJKOJ7yubzc/WK598hUjvNQ68yjQUYUyAxD96oOSAPzx5r6ttyC89KzSjdQ/rbEKO0qBPS2Udbbgi/he37nDvJnrrK1V0lXlYJy0U+1GhCGNphD+T7I+kQ1/HAtFkVAjfLMqRd+j4QvY8MVhCIJDSiDYBA4BnLaqicrjveCI=" />
    </xpf>
  </packageSourceCredentials>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
</configuration>