<?xml version="1.0" encoding="utf-8"?>
<configuration>
<packageSources>
    <clear />
    <add key="api.nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="xpf" value="https://xpf-nuget-feed.avaloniaui.net/v3/index.json" />
    <add key="avalonia-nightly" value="https://nuget-feed-all.avaloniaui.net/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <xpf>
      <add key="Username" value="license" />
      <add key="ClearTextPassword" value="AQAAAFUAAAAfiwgAAAAAAAADY2RAADbH3JT85GIHyQoRmBAzELPmZOaVVrDmJibnF7OXZ+al5JcXg8SZKwrSeIBYN7EgU7c4IzMXzAEqSMsvyi0GAE5FBodZAAAAAAEAABoX2EESVLPDx8A1pFXIg/9xFSynCXV4LIIeq9ZNpSjtaSgUnZZs4XSPEcXReEVFfKiJXKTWQ6oUCKho88aseEMBdSoIt5qy6MKopirdaPMCyqsUF4lHpJNESAsrv4hzBZmeY76dq9iHxnCZonMRHghpLCUzOybGq6N4ze1indDrT0RAkQ2xCSDs+0xDHbDiXndJOVdopGO/jidbTIl2Zf2LCMJkAiq7mG7toJwV7GOWX+Ij2gQeSIoM4as/cCTHUjWZ/daYkhDmr1Q7/wTLQ1I+64PhEQk52MjZkeD02Q87o7bqK12vUF8iIWnn5tctkcPGdhNzhYbn+VEkZRqaw64=" />
    </xpf>
  </packageSourceCredentials>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
</configuration>