<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FontAwesome.WPF" version="4.7.0.9" targetFramework="net461" />
  <package id="GingerTestHelper" version="1.0.5" targetFramework="net461" />
  <package id="Magick.NET-Q16-AnyCPU" version="7.3.0" targetFramework="net461" />
  <package id="MSTest.TestAdapter" version="1.4.0" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="1.4.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net461" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.45.0" targetFramework="net461" />
  <package id="System.Drawing.Common" version="4.5.1" targetFramework="net461" />
</packages>