<h1>Business Flows</h1>

<p>List all business flows of the solution</p>

<p *ngIf="!businessflows"><em>Loading...</em></p>

<table class='table' *ngIf="businessflows">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Filename</th>
      <th>Status</th>
      <th>Elapsed</th>
      <th>Run</th>      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of businessflows">
      <td>{{ forecast.name }}</td>
      <td>{{ forecast.description }}</td>
      <td>{{ forecast.fileName }}</td>
      <td>{{ forecast.status }}</td>
      <td>{{ forecast.elapsed }}</td>
      <td><button (click)="runFlow(forecast)">Run</button></td>      
      <td></td>
    </tr>
  </tbody>
</table>

<p>Click run to execute a flow</p>

<div>{{ report }}</div>
