@import '../variables';

/*Badge*/
$badgeBgColor:#4aa564;
$badgeTextColor:#ffffff;

/* RouteBar */
$routeBarBgColor:#ffffff;
$routeBarBorderColor:#d6d7d9;
$routeBarIconColor:#5b616a;
$routeBarIconHoverBgColor:#f1f1f1;