<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="5.14.5506.26202" targetFramework="net45" />
  <package id="AutoMapper" version="9.0.0" targetFramework="net461" />
  <package id="BouncyCastle" version="1.8.5" targetFramework="net461" />
  <package id="CassandraCSharpDriver" version="3.10.0" targetFramework="net461" />
  <package id="Castle.Core" version="4.4.0" targetFramework="net461" />
  <package id="Common.Logging" version="3.4.1" targetFramework="net461" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net461" />
  <package id="CouchbaseNetClient" version="2.7.11" targetFramework="net461" />
  <package id="DnsClient" version="1.2.0" targetFramework="net461" />
  <package id="DocumentFormat.OpenXml" version="2.9.1" targetFramework="net461" />
  <package id="DotNetZip.Reduced" version="1.9.1.8" targetFramework="net461" />
  <package id="EPPlus" version="4.5.3.1" targetFramework="net461" />
  <package id="Google.Protobuf" version="3.8.0" targetFramework="net461" />
  <package id="HtmlAgilityPack" version="1.11.5" targetFramework="net461" />
  <package id="LibGit2Sharp.NativeBinaries" version="2.0.278" targetFramework="net461" />
  <package id="log4net" version="2.0.12" targetFramework="net461" />
  <package id="lz4net" version="1.0.15.93" targetFramework="net461" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.1" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration" version="3.1.7" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="3.1.7" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="3.1.7" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection" version="3.1.7" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="3.1.7" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging" version="3.1.7" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="3.1.7" targetFramework="net461" />
  <package id="Microsoft.Extensions.Options" version="3.1.7" targetFramework="net461" />
  <package id="Microsoft.Extensions.Primitives" version="3.1.7" targetFramework="net461" />
  <package id="Microsoft.NETCore.Platforms" version="3.1.2" targetFramework="net461" />
  <package id="MongoDB.Bson" version="2.8.1" targetFramework="net461" />
  <package id="MongoDB.Driver" version="2.8.1" targetFramework="net461" />
  <package id="MongoDB.Driver.Core" version="2.8.1" targetFramework="net461" />
  <package id="Mono.Posix" version="4.0.0.0" targetFramework="net45" />
  <package id="MySql.Data" version="8.0.16" targetFramework="net461" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="Npgsql" version="4.0.7" targetFramework="net461" />
  <package id="OpenTracing" version="0.12.0" targetFramework="net461" />
  <package id="Oracle.ManagedDataAccess" version="19.3.0" targetFramework="net461" />
  <package id="PDFsharp" version="1.50.5147" targetFramework="net461" />
  <package id="Rally.RestApi" version="3.3.1" targetFramework="net461" />
  <package id="RestSharp" version="106.11.4" targetFramework="net461" />
  <package id="SharpAdbClient" version="2.2.27" targetFramework="net461" />
  <package id="SharpSvn.1.8-x86" version="1.8019.4006.503" targetFramework="net461" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.Collections" version="4.3.0" targetFramework="net461" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net461" />
  <package id="System.ComponentModel" version="4.3.0" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net461" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net461" />
  <package id="System.Drawing.Common" version="4.7.0" targetFramework="net461" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net461" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.IO.Packaging" version="4.7.0" targetFramework="net461" />
  <package id="System.Linq" version="4.3.0" targetFramework="net461" />
  <package id="System.Linq.Dynamic.Core" version="1.2.1" targetFramework="net461" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.4" targetFramework="net461" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Resources.Extensions" version="4.7.1" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net45" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net461" />
  <package id="System.Threading.Tasks.Dataflow" version="4.11.1" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="UIAComWrapper" version="1.1.0.14" targetFramework="net45" />
</packages>