name: CD

on:
    # Trigger the workflow manually with the `workflow_dispatch` event
    workflow_dispatch: 
      inputs:
        major:
          description: Year # The year of the release, e.g., 24 for 2024
          type: number 
          required: true
          default: '24'
        minor:
          description: Release # The minor version of the release, e.g., 4 for the fourth release of the year
          type: number 
          required: true
          default: '5'
        build:
          description: Beta # The build number, typically used for beta versions
          type: number 
          required: true
          default: '0'
        revision:
          description: Alpha # The revision number, typically used for alpha versions
          type: number 
          required: true
          default: '0'
        SSLCert:
          description: "Add Certificate" # Option to add an SSL certificate
          type: choice
          required: true
          default: 'No'
          options:
          - 'Yes' # Add SSL certificate
          - 'No'  # Do not add SSL certificate
jobs:            
    Builder:
        name: Ginger Builder
        uses: ./.github/workflows/Build.yml
        secrets: inherit

    Ginger_Unit-Test:
        name: Ginger Unit-Test
        needs: Builder
        uses: ./.github/workflows/Test.yml
        secrets: inherit
     
    Release:
        name: Release
        needs: Ginger_Unit-Test
        uses: ./.github/workflows/Release.yml
        secrets: inherit
     
    Deploy:
        name: Deploy
        needs: Release
        uses: ./.github/workflows/Deploy.yml

    Docker:
        name: Docker
        needs: Ginger_Unit-Test
        uses: ./.github/workflows/Docker.yml
        secrets: inherit
