name: CI Process

on:
  workflow_call:
  workflow_dispatch:
  
  push:
    branches:
      - master
      - Features/Linux-Migration
      - Releases/*
      - Releases/*/*
      - Test*

  pull_request:
    branches: 
      - master
      - Features/Linux-Migration
      - Releases/*
      - Releases/*/*

jobs:
    Builder:
        name: Build Solution
        uses: ./.github/workflows/Build.yml
        secrets: inherit

    Ginger_Unit-Test:
        name: Execute Unit Tests
        needs: Builder
        uses: ./.github/workflows/Test.yml
        secrets: inherit

        
        