$primaryColor:#3f4381;
$primaryLightColor: scale-color($primaryColor, $lightness: 60%) !default;
$primaryDarkColor:#2d3168;
$primaryDarkerColor:#202352;
$primaryTextColor:#ffffff;

$highlightBg: scale-color($primaryColor, $lightness: 85%);
$highlightTextColor: #495057;

@import '../sass/theme/_theme';
