$primaryColor:#4AA564;
$primaryLightColor: scale-color($primaryColor, $lightness: 60%) !default;
$primaryDarkColor:#378D4F;
$primaryDarkerColor:#1D6833;
$primaryTextColor:#ffffff;

$highlightBg: scale-color($primaryColor, $lightness: 80%);
$highlightTextColor: #495057;

@import '../sass/theme/_theme';
